@import "../variables";
.nav-wrapper{
  display: flex;
  align-content: center;
  gap: 128px;
  @media screen and(max-width: $container-width){
    padding-left: 15px;
    padding-right: 15px;
    gap: 40px;
  }
  &__logo{
    @extend .col-1;
    justify-self: start;
    align-self: center;
  }
  &__links{
    @extend .col-4;
    justify-self: center;
    display: flex;
    align-self: stretch;
    gap: 32px;
    .link{
      @extend %menu;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &_active{
        color: #005624;
      }
      &:hover{
       color: #005624;
        border-bottom: 4px solid #005624;
      }
    }
  }
  &__other{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
  }
  &__search{
    @extend .col-2;
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 100%;
  }
  &__settings{
    @extend .col-5;
    align-self: center;
  }
}
.nav-settings{
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  gap: 40px;
  align-items: center;
  &__log-sales{
    div{
      @extend %small_text_bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 104px;
      height: 40px;
      border-radius: 8px;
      background: $base-yellow;

    }
  }
  &__user-icons{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    &_link{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
      flex-direction: column;
    }
  }
}